<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BT1</title>
    <script src="vue.js"></script>

</head>
<body>
<div id="app">
    <h1>{{title}}</h1>
    <h1>After computed : {{lowercaseTitle}}</h1>
    <template v-if="!showPara">
        <button @click="show" >Show</button>
    </template>
    <template v-else >
        <button  @click="show" >No-Show</button>
    </template>

    <p v-if="showPara">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt ut eum facere voluptatum magnam excepturi non laboriosam quidem reprehenderit hic assumenda quod vero nobis commodi veniam autem consectetur sequi dolorem cum est facilis, 
        praesentium sunt alias voluptas. Recusandae, tempora rerum!
    </p>
</div>
<div id="app2">
    <h1>title App2</h1>
    <p>{{title}}</p>
    <button @click="onChangeTitlt">
        Change somthing
    </button>
</div>


<script>
    // Vue tạo ra bộ geter setter để theo giỏi các đối tượng là data và method khi muốn thây đổi thì gọi set và get
    var vn = new Vue({
        el : "#app",
        data: {
            showPara:false,
            title : 'The Vue Js Instace'
        },
        methods :{
            show : function(){
                this.showPara = !this.showPara;
                this.updateTitle('Vue JS Instance (upDated)');
            },
            updateTitle : function(title){
                console.log(title);
                
                this.title = title; 
            }
        },
        computed : {
            lowercaseTitle : function(){
                console.log(this);
                
                return this.title.toLowerCase();
            }
        },
        watch :{
            title: function(value){
                alert('Title change text !'+ value)
            }
        }
    });

    var jp = new Vue({
        el : '#app2',
        data :{
            title : 'The second Vue JS instance'
        },
        methods :{
            onChangeTitlt : function(){
                vn.title = 'Changed Jp !'
            }
        }
    });

    console.log(vn);
    
    setTimeout(function(){
        vn.title = 'CHanged by Timer form outside !'
    } , 1000)
</script>
</body>
</html>